*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .list-inline{
//   background-color: black;
//   padding: 10px;
//   li{
//     display: inline;
//     list-style-type: none;
//     margin: 5px;
//     font-size: 1em;
//     a{
//       color: white;
//       text-decoration: none;
//     }
//   }
// }

.list-inline{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color:green;
}
}

.TodoList{
  display: grid;
  grid-template-columns: 20%;
position: relative;
grid-gap: 5px;
}
.delete{
  position: absolute;
  left: 20%;
  width: 100px;
}