*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  background-color: black;
  padding: 10px;
  li{
    display: inline;
    list-style-type: none;
    margin: 5px;
    font-size: 1em;
    a{
      color: white;
    }
  }
}